/**
 * Copyright 2007 Quality Unit s.r.o.
 * 
 * Licensed under the Quality Unit, s.r.o. Standard End User License Agreement,
 * Version 1.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * http://www.qualityunit.com/licenses/license
 * 
 */

package {{supportPackage}};

import com.google.gwt.core.client.JavaScriptObject;
import com.google.gwt.http.client.Header;

public abstract class ApiCallback<T extends JavaScriptObject> {

    // same as onSuccess for easier error response handling in generated code
    public final void error(int code, Header[] headers, JavaScriptObject error) {
        onError(code, getMessage(error));
    }

    private final native String getMessage(JavaScriptObject object) /*-{
        return object.message;
    }-*/;

    public abstract void onError(int code, String message);

    public abstract void onSuccess(int code, Header[] headers, T response);

}